.project-info-dialog__title
    display: flex
    justify-content: space-between
    align-items: center

.project-info-dialog__content
    display: flex
    width: 100%

    .project-info-dialog__slides
        width: calc((100%/3)*2)
        height: 400px
        background-color: green

        .project-info-dialog__slide
            weight: 100%
            height: 100%
            background-size: contain
            background-position: center
            background-repeat: no-repeat



    .project-info-dialog__description
        width: calc(100%/3)
        background-color: red