<div mat-dialog-title class="project-info-dialog__title">
    <mat-dialog-actions class="app-menu-dialog--actions">
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-dialog-actions>
</div>
<mat-dialog-content class="project-info-dialog__content">
    <div class="project-info-dialog__content-container">
        <div class="project-info-dialog__slides">
            <app-image-slider [slides]="data.project.slides"></app-image-slider>
        </div>
        <div class="project-info-dialog__description">
            <div class="project-info-dialog__description-main-info">
                <h2 class="project-info-dialog__project-title">{{ data.project.title }}</h2>
                <div class="project-info-dialog__description-text">
                    <p><span class="project-info-dialog__text--bold">Technology stack: </span>{{data.project.techStack}}
                    </p>
                    <p><span class="project-info-dialog__text--bold">Collaboration: </span><ng-container *ngIf="data.project.collaboration; else
                        noCollab">Yes</ng-container></p>
                    <p><span class="project-info-dialog__text--bold">Project </span><span
                            class="project-info-dialog__text--bold"
                            *ngIf="data.project.repoUrls.length > 1; else oneRepo">repositories:
                        </span><ng-container *ngFor="let repoUrl of data.project.repoUrls"><a href={{repoUrl}}
                                target="_blank" class="project-info-dialog__link">{{repoUrl}}</a><br /></ng-container>
                    </p>
                </div>
            </div>
            <p>{{data.project.description}}</p>
        </div>
    </div>
</mat-dialog-content>
<ng-template #oneRepo>
    <span class="project-info-dialog__text--bold">repository: </span>
</ng-template>
<ng-template #noCollab>
    No
</ng-template>