@import '../../../_colors.sass'

:host ::ng-deep
    .mat-mdc-tab-labels
        flex-direction: column

.app-menu-dialog

    .app-menu-dialog--actions
        justify-content: end

    .app-menu-dialog--actions-close-btn
        background-color: transparent

    .app-menu-dialog--content
        border: 2px solid rgba(255, 255, 255, 0.2)
        padding: 1rem
