<div class="app-menu-dialog">
  <mat-dialog-actions class="app-menu-dialog--actions">
    <button
      mat-icon-button
      mat-dialog-close
      class="app-menu-dialog--actions-close-btn"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-dialog-actions>
  <mat-dialog-content class="mat-typography" cdkFocusInitial>
    <div class="app-menu-dialog--content">
      <mat-list>
        <mat-list-item>Pepper</mat-list-item>
        <mat-list-item>Salt</mat-list-item>
        <mat-list-item>Paprika</mat-list-item>
      </mat-list>
    </div>
  </mat-dialog-content>
</div>
