<div class="app-about">
  <div class="app-about--main-container app-about__container">
    <div class="app-about--main-title">
      <h2 class="headline-2 app-about--main-title-header">
        {{ "About" | uppercase }}
      </h2>
      <p class="section-title">
        {{ "Let's to know each other better" | uppercase }}
      </p>
    </div>
    <div class="app-about--main">
      <div class="app-about--personal-image-container">
        <img class="app-about__personal-image" src="../assets/img/profile-picture.jpg" alt="profile image" />
      </div>
      <div class="app-about--main-info">
        <h3 class="headline-3">Frontend Developer</h3>
        <p>Specialized in frameworks: Angular & React</p>
        <div class="app-about--list-container">
          <mat-list role="list" class="app-about--list-column">
            <mat-list-item role="listitem">
              <mat-icon matListItemIcon>chevron_right</mat-icon>
              <div matListItemTitle>Item 1</div>
            </mat-list-item>
            <mat-list-item role="listitem">
              <mat-icon matListItemIcon>chevron_right</mat-icon>
              <div matListItemTitle>Item 2</div>
            </mat-list-item>
            <mat-list-item role="listitem">
              <mat-icon matListItemIcon>chevron_right</mat-icon>
              <div matListItemTitle>Item 3</div>
            </mat-list-item>
            <mat-list-item role="listitem">
              <mat-icon matListItemIcon>chevron_right</mat-icon>
              <div matListItemTitle>Item 4</div>
            </mat-list-item>
          </mat-list>
          <mat-list role="list" class="app-about--list-column">
            <mat-list-item role="listitem">
              <mat-icon matListItemIcon>chevron_right</mat-icon>
              <div matListItemTitle>Item 5</div>
            </mat-list-item>
            <mat-list-item role="listitem">
              <mat-icon matListItemIcon>chevron_right</mat-icon>
              <div matListItemTitle>Item 6</div>
            </mat-list-item>
            <mat-list-item role="listitem">
              <mat-icon matListItemIcon>chevron_right</mat-icon>
              <div matListItemTitle>Item 7</div>
            </mat-list-item>
            <mat-list-item role="listitem">
              <mat-icon matListItemIcon>chevron_right</mat-icon>
              <div matListItemTitle>Item 8</div>
            </mat-list-item>
          </mat-list>
        </div>
        <p>
          more text. Officiis eligendi itaque labore et dolorum mollitia
          officiis optio vero. Quisquam sunt adipisci omnis et ut. Nulla
          accusantium dolor incidunt officia tempore. Et eius omnis. Cupiditate
          ut dicta maxime officiis quidem quia. Sed et consectetur qui quia
          repellendus itaque neque. Aliquid amet quidem ut quaerat cupiditate.
          Ab et eum qui repellendus omnis culpa magni laudantium dolores.
        </p>
      </div>
    </div>
  </div>
  <div class="app-about--skills-container app-about__container">
    <div class="app-about--skills-title">
      <h2>Skills</h2>
    </div>
  </div>
  <div class="app-about--skills app-about--list-container app-about__container">
    <div class="app-about--list-column">
      <span>Angular</span>
      <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
      <span>React</span>
      <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
      <span>Vue</span>
      <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
    </div>
    <div class="app-about--list-column">
      <span>Angular</span>
      <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
      <span>React</span>
      <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
      <span>Vue</span>
      <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
    </div>
  </div>
  <div class="app-about--courses-container app-about__container">
    <div class="app-about--courses-title">
      <h2>Courses & Projects</h2>
    </div>
  </div>
  <div class="app-about--courses app-about--list-container">
    <mat-list role="list" class="app-about--list-small-column">
      <mat-list-item role="listitem">
        <mat-icon matListItemIcon>chevron_right</mat-icon>
        <h3 matListItemTitle>Item 1</h3>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon matListItemIcon>chevron_right</mat-icon>
        <h3 matListItemTitle>Item 2</h3>
      </mat-list-item>
    </mat-list>
    <mat-list role="list" class="app-about--list-small-column">
      <mat-list-item role="listitem">
        <mat-icon matListItemIcon>chevron_right</mat-icon>
        <h3 matListItemTitle>Item 1</h3>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon matListItemIcon>chevron_right</mat-icon>
        <h3 matListItemTitle>Item 2</h3>
      </mat-list-item>
    </mat-list>
    <mat-list role="list" class="app-about--list-small-column">
      <mat-list-item role="listitem">
        <mat-icon matListItemIcon>chevron_right</mat-icon>
        <h3 matListItemTitle>Item 1</h3>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon matListItemIcon>chevron_right</mat-icon>
        <h3 matListItemTitle>Item 2</h3>
      </mat-list-item>
    </mat-list>
    <mat-list role="list" class="app-about--list-small-column">
      <mat-list-item role="listitem">
        <mat-icon matListItemIcon>chevron_right</mat-icon>
        <h3 matListItemTitle>Item 1</h3>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon matListItemIcon>chevron_right</mat-icon>
        <h3 matListItemTitle>Item 2</h3>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="app-about--interests-container app-about__container">
    <div class="app-about--interests-title">
      <h2>Interests</h2>
    </div>
  </div>
  <div class="app-about--interests app-about--list-container">
    <mat-list role="list" class="app-about--list-small-column">
      <mat-list-item role="listitem">
        <mat-icon matListItemIcon>chevron_right</mat-icon>
        <h3 matListItemTitle>Item 1</h3>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon matListItemIcon>chevron_right</mat-icon>
        <h3 matListItemTitle>Item 2</h3>
      </mat-list-item>
    </mat-list>
    <mat-list role="list" class="app-about--list-small-column">
      <mat-list-item role="listitem">
        <mat-icon matListItemIcon>chevron_right</mat-icon>
        <h3 matListItemTitle>Item 1</h3>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon matListItemIcon>chevron_right</mat-icon>
        <h3 matListItemTitle>Item 2</h3>
      </mat-list-item>
    </mat-list>
    <mat-list role="list" class="app-about--list-small-column">
      <mat-list-item role="listitem">
        <mat-icon matListItemIcon>chevron_right</mat-icon>
        <h3 matListItemTitle>Item 1</h3>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon matListItemIcon>chevron_right</mat-icon>
        <h3 matListItemTitle>Item 2</h3>
      </mat-list-item>
    </mat-list>
    <mat-list role="list" class="app-about--list-small-column">
      <mat-list-item role="listitem">
        <mat-icon matListItemIcon>chevron_right</mat-icon>
        <h3 matListItemTitle>Item 1</h3>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon matListItemIcon>chevron_right</mat-icon>
        <h3 matListItemTitle>Item 2</h3>
      </mat-list-item>
    </mat-list>
  </div>
</div>