@import '../../../_colors.sass'
.app-about
    background-color: rgba($background, 0.5)
    margin: 16px 0 45px 0

    .app-about__container
        padding: 24px

    .app-about--main
        display: grid
        grid-template-columns: 1fr 3fr
        grid-template-rows: 1fr
        grid-column-gap: 2rem

    .app-about--skills
        gap: 32px

    .app-about--list-container
        display: flex

    .app-about--list-column
        flex-basis: 50%

    .app-about--list-small-column
        flex-basis: 25%

    .app-about--personal-image-container

        .app-about__personal-image
            max-width: 100%
            max-height: 400px

    .app-about--main-container
        .app-about--main-title
            padding-bottom: 16px

            .app-about--main-title-header
                color: $grey
                letter-spacing: 2px
                &::after
                    content: ""
                    width: 120px
                    height: 1px
                    display: inline-block
                    background: $primary
                    margin: 4px 10px

        .app-about--main-info
            display: flex
            flex-direction: column
            gap: 8px
