<div class="app-home">
  <div class="app-home__container">
    <p class="app-home__description">
      I'm passionate
      <span class="app-home__description--highlighted">Frontend Developer</span>.
      Let's create amazing websites together!
    </p>
    <div class="app-home__socials">
      <a href="https://www.linkedin.com/in/karolina-kowalczyk99/" target="_blank">
        <img alt="linkedin-icon" src="../../../assets/icons/icons8-linkedin-30.png">
      </a>
      <a target="_blank">
        <img alt="instagram-icon" src="../../../assets/icons/icons8-instagram-30.png">
      </a>
      <a href="https://github.com/karolinakowalczyk" target="_blank">
        <img alt="github-icon" src="../../../assets/icons/icons8-github-30.png">
      </a>
    </div>
  </div>
</div>