@import '../../../_colors.sass'

.app-home
    margin-top: 8px
    .app-home__description
        font-size: 24px
        font-weight: 500

        .app-home__description--highlighted
            color: $primary
