<div class="app-projects section" [ngClass]="startAnimation">
    <div class="section-container">
        <h2 class="headline-2 section-header">
            {{ "Portfolio" | uppercase }}
        </h2>
        <p class="section-title">
            {{ "My web projects" | uppercase }}
        </p>
        <p class="italic-text">There are no commercial projects; they were created either independently or with
            collaborators during my studies or in
            my free time.</p>
    </div>
    <div class="app-projects__portfolio-container section-container">
        <div class="app-projects__portfolio-item">
            <p>HEY</p>
        </div>

        <div class="app-projects__portfolio-item">
            <p>HEY</p>
        </div>

        <div class="app-projects__portfolio-item">
            <p>HEY</p>
        </div>

        <div class="app-projects__portfolio-item">
            <p>HEY</p>
        </div>


        <div class="app-projects__portfolio-item">
            <p>HEY</p>
        </div>
    </div>
</div>