@import '../_colors.sass'

.app
    height: 100%
    display: flex
    align-items: center
    .app__container
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding: 0 12px
        height: fit-content
        width: 100%

        @media (min-width: $tablet-width)
            margin: 0 auto
            padding: 0 16px
            width: 90%
        @media (min-width: $desktop-width)
            flex-direction: row
            justify-content: flex-start
            align-items: stretch
            width: 100%
            max-width: 1140px
        @media (min-width: $large-screen-width)
            max-width: 1320px

    .app__hamburger-button
        position: absolute
        top: 0
        right: 0
        @media (min-width: $desktop-width)
            display: none

    .app__content-container--moved
        justify-content: start

    .app__content
        display: flex
        flex-direction: column
        position: relative
        width: 70%

    .app__content--moved
        width: 100%
        margin-top: 1rem

    .app__main-photo
        display: flex
        flex-direction: column
        justify-content: center
        width: 30%

    .app__no-photo
        display: none

    .app__mat-tab-group
        display: none
        position: relative
        z-index: 2
        top: 40%
        left: 50%
        transform: translate(-50%, -50%)
        transition: top ease 0.5s
        @media (min-width: $desktop-width)
            display: block

    .app__mat-tab-group > .mat-mdc-tab-header
        max-width: 600px

    .app__mat-tab-group--moved
        top: 50%

    .app__mat-tab-group--moved > .mat-mdc-tab-header
        left: 50%

    .app--full-name
        font-size: 36px
        font-weight: 700
        position: relative
        z-index: 2
        top: 40%
        left: 50%
        transform: translate(-50%, -50%)
        transition: top ease 0.5s, font-size ease-in 0.5s
        width: fit-content

        @media (min-width: $desktop-width)
            font-size: 48px
            width: auto
            padding-bottom: 32px

    .app--full-name-moved
        position: absolute
        display: inline-flex
        transform: translate(0)
        top: 0
        left: 0
        padding: 0 16px
        font-size: 26px
        padding-bottom: 0
        width: fit-content

        @media (min-width: $desktop-width)
            font-size: 36px

    .app__main-photo--image
        border-radius: 50%

    .app__mobile-content
        padding-bottom: 1rem
        @media (min-width: $desktop-width)
            display: none

    .app__mobile-content--moved
        margin-top: 4rem
        padding-bottom: 0

    .app__footer
        width: 100%
        position: fixed
        bottom: 0px
        left: 0
        text-align: center
        padding-bottom: 16px

        .app__footer-link
            text-decoration: none
            color: $primary

.app--moved
    align-items: flex-start
