@import '../_colors.sass'

.app
    height: 100vh
    width: 100vw
    position: relative

    .app__container
        display: flex
        justify-content: center
        height: 100%

    .app__content-container
        display: flex
        margin: 0 auto
        padding: 0 16px
        width: 80%

    .app__content
        display: flex
        flex-direction: column
        width: 70%

    .app__main-photo
        display: flex
        flex-direction: column
        width: 30%

    .app__no-photo
        display: none

    .app__mat-tab-group
        background-color: purple
        position: relative
        z-index: 2
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        transition: top ease 2s

    .app__mat-tab-group--moved
        top: 8%
