<div class="app">
  <div
    @fadeIn
    class="app__container"
    [class.app__container--content]="this.currentTabIndex !== 0"
    #appContainer
  >
    <div
      class="app__content-container"
      [class.app__content-container--moved]="this.currentTabIndex !== 0"
    >
      <div
        class="app__content"
        [class.app__content--moved]="this.currentTabIndex !== 0"
      >
        <h1
          class="app--full-name"
          [class.app--full-name-moved]="this.currentTabIndex !== 0"
        >
          {{ fullName }}
        </h1>
        <mat-tab-group
          class="app__mat-tab-group"
          [class.app__mat-tab-group--moved]="this.currentTabIndex !== 0"
          [headerPosition]="position"
          (selectedIndexChange)="tabChanged($event)"
        >
          <mat-tab label="Home"><app-home></app-home></mat-tab>
          <mat-tab label="About"><app-about></app-about></mat-tab>
          <mat-tab label="Projects"><app-projects></app-projects></mat-tab>
          <mat-tab label="Contact"><app-contact></app-contact></mat-tab>
        </mat-tab-group>
      </div>
      <div
        [ngClass]="
          this.currentTabIndex === 0 ? 'app__main-photo' : 'app__no-photo'
        "
      >
        <img
          class="app__main-photo--image"
          src="../assets/img/female-profile-picture.jpg"
          alt="profile image"
        />
      </div>
      <button
        class="app__hamburger-button"
        mat-icon-button
        (click)="openMenuDialog()"
        aria-label="Hamburger icon-button"
      >
        <mat-icon>reorder</mat-icon>
      </button>
    </div>
  </div>
</div>
