@import './_colors.sass'

*
  margin: 0
  padding: 0
  box-sizing: border-box

html
  height: 100%

body
  height: 100%
  font-family: 'Open Sans', sans-serif
  color: $text
  background-color: transparent
  position: relative

  &::before
    content: ""
    position: fixed
    background: $background url('./assets/img/background.jpg') top right no-repeat
    background-size: cover
    left: 0
    right: 0
    top: 0
    bottom: 0
    z-index: -1

h1
   font-family: 'Poppins', sans-serif


.headline-2
  font-size: $font-size-sm
  font-weight: $font-weight-medium
  line-height: $line-height-xs

.headline-3
  font-size: $font-size-md--bigger
  font-weight: $font-weight-bold
  line-height: $line-height-sm

.headline-4
  font-size: $font-size-sm-bigger 
  font-weight: $font-weight-bold
  

.section-title
  font-size: $font-size-lg
  font-weight: $font-weight-bold
  line-height: $line-height-md

.italic-text
  font-style: italic

.primary-text
  color: $primary

.section
  background-color: rgba($background, 0.5)
  margin: 16px 0
  position: relative
  z-index: 1

.section-container
  padding: 24px

.section-header
  color: $grey
  letter-spacing: 2px
  margin-bottom: 16px
  &::after
      content: ""
      width: 120px
      height: 1px
      display: inline-block
      background: $primary
      margin: 4px 10px

@keyframes smoothAppearance 
  from
    opacity: 0
  to
    opacity: 1

.start-animation
  animation: smoothAppearance 1s ease-out
  @media (min-width: $big-tablet-width)
    animation: none

